<main class="pp-body">
    <section class="pp-view pp-stats-page pp-system-{{model.id}} tab {{#if (eq activeTab.key 'inventory')}}active{{/if}}" data-tab="inventory">
        {{#each model.groups.inventory}}
            <div class="pp-subsection">
                <div class="pp-section-header pp-big-header pp-combined-header">
                    <h2><i class="fas fa-sack-xmark"></i><span>Inventory</span><b>-</b><i class="{{this.icon}}"></i><span>{{this.name}}</span></h2>
                    <span class="pp-header-count">{{this.count}}</span>
                </div>
                <div class="pp-card-list">
                    {{#each this.items as |item|}}
                        {{{renderItemCard item}}}
                    {{/each}}
                </div>
            </div>
        {{/each}}
    </section>
</main>